.LookUpRedcordByRoi {
  padding-top: 25px;
  padding-bottom: 25px;
}
.main {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  column-gap: 1rem;
}
.mainLeft {
  grid-column: span 3 / span 3;
  padding-right: 10px;
  border-right-width: 2px;
  border-color: #f5f5f5;
}
.mainRight {
  grid-column: span 2 / span 2;
}
.options {
  display: flex;
  column-gap: 30px;
  align-items: center;
  margin-top: 10px;
}
.datatable {
  margin-top: 20px;
}
.longshort {
  font-weight: 600;
  font-size: 13px;
  line-height: 15px;
  color: #000000;
}
.spacetable {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  column-gap: 1rem;
}
.contai_input {
  display: flex;
  column-gap: 10px;
}
.container_input {
  display: flex;
  column-gap: 10px;
  justify-content: space-between;
}
.container_input_chirlden {
  grid-column: span 3 / span 3;
  display: flex;
  column-gap: 10px;
}
.search_input {
  width: 100px;
  height: 30px;
  margin-right: 5px;
}

@media (width: 1280px) {
  .main {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    column-gap: 1rem;
  }
  .mainLeft {
    grid-column: span 3 / span 3;
    overflow: hidden;
  }
  .mainRight {
    grid-column: span 2 / span 2;
    margin-top: 20px;
  }
}
@media (max-width: 1023px) {
  .mainLeft {
    grid-column: span 5 / span 5;
    overflow: hidden;
    border-right-width: 0px;
    border-color: #f5f5f5;
    padding-right: 0px;
  }
  .mainRight {
    grid-column: span 5 / span 5;
    margin-top: 20px;
    border-right-width: 0px;
  }
}

@media (max-width: 639px) {
  .mainLeft {
    grid-column: span 5 / span 5;
    overflow: hidden;
  }
  .mainRight {
    grid-column: span 5 / span 5;
    margin-top: 20px;
  }
  .spacetable {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    column-gap: 1rem;
  }
  .contai_input {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    column-gap: 10px;
  }
  .container_input {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    column-gap: 1rem;
  }
  .container_input_chirlden {
    display: flex;
  }
  .search_input {
    width: 100%;
    margin-bottom: 5px;
  }
  .options {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
