.main {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  column-gap: 10px;
}
@media (width: 1280px) {
  .tabledata {
    grid-column: span 4 / span 4;
  }
  .reccently_added {
    margin-top: 4px;
    grid-column: span 4 / span 4;
  }
  .maininsightsLeft {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 2rem;
  }
  .mainOnchainSignals {
    justify-content: space-between;
  }
}
